name: Build

on:
  pull_request:

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: pnpm/action-setup@v2
        with:
          version: 10.28.0
      - name: Install
        run: |
          pnpm install --frozen-lockfile
      - name: Build
        run: |
          pnpm run build
  typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: pnpm/action-setup@v2
        with:
          version: 10.28.0
      - name: Install
        run: |
          pnpm install --frozen-lockfile
      - name: Typecheck
        run: |
          pnpm run typecheck
